header {
	background-color: #C0C0C0; /* Platejat */
}
body{
    background-color: #FFFF99;
}
h1 {
	color: red; 
	text-align: center;
	text-transform: uppercase;
	font-family: "Times New Roman",Times, serif;
	font-size: 45px;
}
h2 {
	color: #00008B; /* Blau fosce */
	text-transform: uppercase; /* Encapçalats d'estil per tenir el text en majúscules */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
}
section {
	background-color: #A9A9A9; /* DarkGray */
}
nav a {
	
	color: #000000; /* Negre */
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}



p {
	font-family: "Palatino Linotype", "Book Antiqua", serif;
}
img{
    width:400px; height:250px;
}


.buscador{
    margin-left: 63%
}
.boton{
    margin-left: 0%
}
aside{
    margin-top: 12%;
    margin-left: 20px;
    width: 10%;
    float: left
    
}
.imagenes{
    float: inherit;
    width: auto;
    height: auto;
    display: block;
    margin: auto
}

article{
    width: 80%;
    float: left;
}

footer{
    float: left;
    width: 100%
}

.imatge_aside{
    float: left;
    position: absolute;
    height: 800px;
    width: 400px;
    top: 100px
}


.return{
    float:right;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    border-radius: 6px;
    
  }