h1 {
color: red;
text-align: left;
font-family: Calibri;
font-size: 60px;
}

h2 {
color: black;
text-align: left;
font-family: Calibri;
font-size: 40px;
}

h3 {
color: blue;
text-align: left;
font-family: Calibri;
font-size: 20px;
}

body {
    color: purple;
    background-color: #d8da3d }
